<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=85.190.254.173;
         Initial Catalog=2122_IT1a_db6; User=2122_IT1a_group6; password = cU#Y3*@^@rHD;"/>
	</connectionStrings>
</configuration>
